.layadmin-header {
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    border-radius: 0;
}

.layui-footer {
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);
}
